@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab&display=swap');

.navbar {
    width: 100%;
    overflow: hidden;
}

.info-box {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    word-spacing: 0.5px;
    font-style: italic;
    background-color: #0e3155;
    color: white;
}

.nav-list {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 30px;
    font-weight: lighter;
    color: #02070c;

}

.nav-list .logo a {
    text-decoration: none;

}

.nav-items ul {
    margin-right: 40px;
    display: flex;
}

.nav-items ul li {
    margin: 0 20PX;

    display: inline-block;
    align-items: center;
    list-style: none;
    font-family: 'Epunda Slab', serif;
    margin-right: 30px;
    font-style: italic;

    border-radius: 35%;
    cursor: pointer;
    text-decoration: none;

}

.nav-items ul li a {
    text-decoration: none;
    color: inherit;
}

.nav-items ul li:hover {
    border: 2px solid transparent;
    border-width: 10px;
    color: black;
    background-color: rgb(195, 195, 218);
}

/* for mobile view when hamburger is clicked */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-items {
        display: none;
        width: 100%;
    }

    .nav-items.open {
        display: block;
    }

    .nav-items ul {
        flex-direction: column;

    }

    .nav-items ul li {
        margin: 10px 0;

    }

    .nav-list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .info-box {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .nav-items ul li {
        display: block;
        margin: 10px 0;
    }

    .nav-list .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .nav-list .logo a {
        display: flex;
        float: left;
    }

    .nav-list .logo .hamburger {
        display: flex;
        float: right;
    }

    .nav-items ul {
        margin: 0;
        padding: 0;
    }

    .nav-items {
        margin-top: 1rem;
        left: 0;

    }

}